version: '3.2'
services:
  api:
    container_name:  "${APP_NAME}-nodejs"
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - adonis serve --dev --polling
    environment:
      - NODE_ENV=dev
    volumes:
      - .:/home/app
      - /home/app/node_modules
    ports:
      - "3333:3333"
    networks:
      - default
    depends_on:
      - mysql

  mysql:
    container_name: "${APP_NAME}-mysql"
    image: mysql:5.7
    volumes:
      - "./data/:/var/lib/mysql"
      #dump dir for production import
      - "./dump/:/docker-entrypoint-initdb.d"
    ports:
      - "3306:3306"
    networks:
      - default
    environment:
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"

#define network
networks:
  default:
    driver: bridge
